.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonDiv {
    display: flex;
    /* align-self: flex-end; */
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.control {
    align-self: flex-start;
}